* {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  content: "";
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden; /* Add this to hide vertical scrollbar */
}
.container {
  margin: 0 auto !important;
}

.App {
  max-width: 600px;
  margin: 0 auto !important;
  font-family: monospace;
  color: black;
  height: 100vh; /* Add this to fill the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Add this to enable vertical scrolling within .App */
}

.App footer {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.App footer a {
  color: black;
}

.App footer a:hover {
  color: yellow;
}
