body {
    content: "";
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.App {
    max-width: 600px;
    margin: 200px auto;
    font-family: monospace;
    color: black;
}

.App footer {
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}

.App footer a {
    color: black;
}

.App footer a:hover {
    color: yellow;
}