.Weather {
  max-width: 600px;
  border: 3px solid #dadde1;
  border-radius: 20px;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.Weather h1 {
  color: white;
  line-height: 30px;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: black;
  line-height: 19px;
  font-weight: 100;
  font-size: 16px;
  color: white;
}

.Weather .col-6 {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.Weather .temperature {
  color: white;
  font-size: 70px;
  font-weight: 400;
}

.Weather .unit {
  display: inline-block;
  position: relative;
  top: -35px;
  left: 30px;
}

.Weather .unit a:visited {
  color: black;
}

.Weather .humidity {
  float: none;
}

.Weather .wind {
  float: none;
}

.WeatherInfo .h-w {
  display: flex;
  padding: 0;
  margin: 0 !important;
}

hr.separator {
  margin: 0 auto;
}

.WeatherInfo .temp {
  margin: 0 auto;
}

.WeatherInfo .sunrise-sunset {
  display: flex;
  justify-content: space-evenly;
}

/* CSS for smaller and medium devices */

@media only screen and (max-width: 600px) {
  body {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .Weather {
    max-width: 350px;
    margin: 0 auto;
  }

  .Weather h1 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 18px;
  }

  input[type="submit"] {
    font-size: 14px;
    height: 100%;
    margin-left: -20px;
  }

  .Weather .conditions {
    font-size: 14px;
    margin-top: -10px;
  }

  .Weather .humidity-wind {
    margin-left: -40px;
  }

  .WeatherInfo .h-w {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
  }
  hr.separator {
    border: 2px solid yellow;
  }
  .WeatherInfo .degrees {
    padding: 0 12px 0 0;
  }
  .Weather .temperature {
    font-size: 50px;
    text-align: center;
  }
  .Weather .degrees {
    margin-top: 10px;
  }
  .Weather .unit {
    position: relative;
    top: -15px;
    left: 10px;
    font-size: 10px;
  }

  .WeatherInfo .btn-outline-warning {
    font-size: 12px;
  }

  .Weather .btn-group {
    font-size: 12px;
  }

  .WeatherInfo .temp {
    width: fit-content;
  }

  .WeatherInfo .sunrise-sunset {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (orientation: landscape) {
  .container {
    height: 100vh;
    margin-top: 100px;
  }
}
